_/
__*/
out/
build/

r8/
dex2jar/

extracter/laboratory/viz/dist
extracter/laboratory/viz/.cache
extracter/laboratory/graphics
extracter/laboratory/pmd
extracter/laboratory/smali
extracter/laboratory/proguard/proguard-7.1.1/